{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart Electronic voting Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link href="{% static 'main/images/logo.png' %}" rel="icon">

  <link rel="stylesheet" href="{% static 'main/fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'main/fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/aos.css' %}">

  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <script src="{% static 'main/js/sweetalert.min.js' %}"></script>


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <!-- header start -->

    <header class="site-navbar navv py-4 js-sticky-header site-navbar-target" role="banner">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto">

            <a href="{% url 'index' %}"><img src="{% static 'main/images/logo.png' %}"
                style="width: 40px;margin-bottom: 5px;"> Blockchain Voting</a>
          </div>
          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="{% url 'index' %}" class="nav-link active">Home</a></li>
                <li><a href="{% url 'voter_elections' %}" class="nav-link">Elections</a></li>
                <li><a href="{% url 'voter_results' %}" class="nav-link">Results</a></li>
                <li><a href="{% url 'admin_login' %}" class="nav-link">Admin</a></li>
                <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle  float-right ml-auto">

            <a href="#" class="" style="color: black;"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
    </header>
    <!-- headrer end -->

    <!-- section start -->

    <div class="intro-section" id="home-section">
      <div class="slide-1" style="background-image: url('/static/main/images/eci.jpeg');height: 140vh;"
        data-stellar-background-ratio="0.7">
        <div class="container pt-5">
          <div class="container pt-5">
            <div class="row align-items-center">
              <div class="col-12">
                <div class="row align-items-center">
                  <div class="col-12 mb-4 text-center mx-auto">
                    <h1 data-aos="fade-up" data-aos-delay="100">DECENTRALIZED VOTING</h1>
                    <p class="mb-4" data-aos="fade-up" data-aos-delay="200">Voting is one of the processes that 
                      allow citizens to find their place in society, as well as one of 
                      the rights to elect a worthy and modest leader. There are a lot 
                      of voting systems that aren't secure, therefore by 
                      incorporating the blockchain, security is ensured. 
                      Verification of Aadhar  is 
                      used to create a digital signature has a significant role to 
                      play. </p>
                  </div>
                  <div class="col-lg-6 mb-4 text-center mx-auto mt-5">
                    <h1 data-aos="fade-up" data-aos-delay="100">VOTE FOR CHANGE </h1>
                    <p class="mb-4" data-aos="fade-up" data-aos-delay="200"> <span class="h3">"</span> The vote is
                      precious. It is the most powerful non-violent tool we have in a democratic society, and we must
                      use it.<span class="h3">"</span></p>
                  </div>
                  <div class="col-12 mb-4 text-center mx-auto mt-5">
                    <h1 data-aos="fade-up" data-aos-delay="100">Created By :</h1>
                    <p class="mb-4 text-light" data-aos="fade-up" data-aos-delay="200"><a href="http://samskruti.ac.in/"
                        class="text-light" target="_blank">Batch 11</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section end-->

    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>
      swal({
        title: "Error :(",
        text: "{{message}}",
        icon: "error",
        button: "OK",
      });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
      swal({
        title: "Success :)",
        text: "{{message}}",
        icon: "success",
        button: "OK",
      });
    </script>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>
      swal({
        title: "Info :(",
        text: "{{message}}",
        icon: "info",
        button: "OK",
      });
    </script>

    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>
      swal({
        title: "Warning :(",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
      });
    </script>

    {% endif %}
    {% endfor %}
    {% endif %}
    <!-- footer start -->

    <footer class="footer-section foot bg-white">
      <hr>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3> </h3>
            <p> </p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3>Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="{% url 'index' %}">Home</a></li>
               
              <li><a href="{% url 'admin_login' %}">Admin</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>
          <p class="text-center">
            Copyright All rights reserved | This project is made with <i class="icon-heart" aria-hidden="true"></i> by
            <a href="http://samskruti.ac.in/" target="codebook.in">Batch 11</a>
          </p>
        </div>
      </div>
    </footer>

    <!-- footer end -->



  </div>

  <script src="{% static 'main/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'main/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'main/js/jquery-ui.js' %}"></script>
  <script src="{% static 'main/js/popper.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'main/js/aos.js' %}"></script>
  <script src="{% static 'main/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.sticky.js' %}"></script>


  <script src="{% static 'main/js/main.js' %}"></script>

</body>

</html>