
::selection {
    color: #8e44ad;
}

.passcode-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
}
.passcode-wrapper input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 5px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}
.passcode-wrapper input:last-child {
    margin-right: 0;
}
.passcode-wrapper input::-webkit-inner-spin-button, .passcode-wrapper input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
.passcode-wrapper input:focus, .passcode-wrapper input.focus {
    border-color: green;
    outline: none;
    box-shadow: none;
}
